@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    min-height: 100%;
    font-family: Lato;
    display: flex;
}

.logo {
    padding-top: 20px;
    padding-left: 80px;
}

.logo-text {
    font-family:'cwTeXYen', serif;
    font-size: 24px;
    vertical-align: middle;
}

.top {
    font-family:'Noto Sans TC', serif;
    font-size: 15px;
    vertical-align: middle;
    padding-top: 20px;
}

.grad {
    background: rgb(131,163,247);
    background: linear-gradient(0deg, rgba(131,163,247,0) 0%, rgba(131,163,247,0.4542191876750701) 50%, rgba(131,163,247,0) 100%);
}